/* globals.css */
@import "tailwindcss";

:root {
  --font-primary: var(--font-inter);
  --font-heading: var(--font-playfair);
}

body {
  font-family: var(--font-primary);
  background-color: #f2f1f1;
}

@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../src/**/*.{js,ts,jsx,tsx}";


